.sprotty-node {
    fill: var(--vscode-button-background)
}

.sprotty-label {
    fill: var(--vscode-button-foreground);
    stroke-width: 0;
}

.sprotty-button {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge {
    fill: none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 2px;
}

.sprotty-edge .sprotty-label {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge-arrow {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}