.sprotty {
    padding: 0px;
}

.sprotty-viewport {
    z-index: 1;
    border-style: solid;
    border-width: 2px;
}

.sprotty-hidden {
    display: block;
    position: absolute;
    width: 0px;
    height: 0px;
}

.sprotty svg text::selection {
    background: none;
}

.sprotty-resize-handle {
    fill: #1d80d1;
    stroke: none;
    z-index: 1000;
}

.sprotty-resize-handle.selected {
    fill: #1d80d1;
}

.sprotty-resize-handle.active {
    fill: #1d80d1;
}

.sprotty-node:not(.selected) {
    stroke-width: 0px;
}

.sprotty-edge.selected {
    stroke-width: 1.5px;
}

.sprotty-edge.mouseover:not(.selected) path {
    stroke-width: 1.5px;
}

.sprotty-node.mouseover:not(.selected),
.sprotty-edge.mouseover:not(.selected) {
    opacity: 60%;
}

.sprotty-node.selected,
.sprotty-edge.selected {
    stroke: lightgray;
    stroke-width: 1.5px;
}

.sprotty-edge.mouseover:not(.selected) .arrow,
.sprotty-edge.selected .arrow {
    stroke-dashoffset: none;
    stroke-dasharray: none;
}

.sprotty-node.marquee {
    fill: lightgray;
    opacity: 0.2;
}

.sprotty-edge>.sprotty-routing-handle {
    fill: #1d80d1;
    stroke: none;
    z-index: 1000;
}

.sprotty-edge>.sprotty-routing-handle[data-kind='line'] {
    opacity: 0.35;
}

.sprotty-edge>.sprotty-routing-handle.selected {
    fill: #1d80d1;
}

.sprotty-edge>.sprotty-routing-handle.mouseover {
    stroke: #1d80d1a1;
    stroke-width: 1;
}

.sprotty .error>.sprotty-node {
    filter: drop-shadow(0px 0px 2px var(--glsp-error-foreground)) !important;
}

.sprotty .warning>.sprotty-node {
    filter: drop-shadow(0px 0px 2px var(--glsp-warning-foreground)) !important;
}

.sprotty .info>.sprotty-node {
    filter: drop-shadow(0px 0px 2px var(--glsp-info-foreground)) !important;
}

.sprotty-node {
    fill: var(--vscode-button-background)
}

.sprotty-label {
    fill: var(--vscode-button-foreground);
    stroke-width: 0;
}

.sprotty-button {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge {
    fill: none;
    stroke: var(--vscode-editorActiveLineNumber-foreground);
    stroke-width: 2px;
}

.sprotty-edge .sprotty-label {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}

.sprotty-edge-arrow {
    fill: var(--vscode-editorActiveLineNumber-foreground);
}