.key {
    font-weight: bold;
    text-decoration: underline;
    fill: var(--vscode-button-foreground)
}

.partial-key {
    text-decoration: underline;
    fill: var(--vscode-button-foreground)
}

.derived {
    font-style: italic;
    fill: var(--vscode-button-foreground)
}