.entity {
    fill: var(--vscode-button-foreground);
}

.entity-no-expose {
    fill: var(--vscode-button-foreground);
    text-decoration: line-through
}

.entity-alias {
    fill: var(--vscode-button-foreground);
    font-style: italic;
}

.attribute {
    fill: var(--vscode-button-foreground);
}

.attribute-key {
    fill: var(--vscode-button-foreground);
    text-decoration: underline;
}

.attribute-no-out {
    fill: var(--vscode-button-foreground);
    text-decoration: line-through
}

.relationship {
    fill: var(--vscode-button-foreground);
}

.relationship-association {
    fill: var(--vscode-button-foreground);
    font-style: italic;
}

.relationship-association-to-parent {
    fill: var(--vscode-button-foreground);
    font-style: italic;
    text-decoration: overline;
}

.relationship-composition {
    fill: var(--vscode-button-foreground);
    font-style: italic;
    text-decoration: underline;
}